<h1>Wellcome to Home Overview</h1>


<div class="jumbotron">
    <h1>Control your Lights here</h1>
    <p>All room lights listed here</p>
    <p><a class="btn btn-primary btn-lg" href="/lights" role="button">lights</a></p>
</div>
<div class="jumbotron">
    <h1>Outside Temp</h1>
    <p>Check outside temp dashboard here</p>
    <p><a class="btn btn-primary btn-lg" href="/outtemp" role="button">temp</a></p>
</div>
<div class="jumbotron">
    <h1>Inside Temp</h1>
    <p>Check insde temp dashboard here</p>
    <p><a class="btn btn-primary btn-lg" href="/intemp" role="button">temp</a></p>
</div>
