<h1>See here all the ligths</h1>


<table class="table col-md-6">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Url</th>
        <th></th>
    </tr>
    {{range $light := .config.Lights}}
    
    <tr>
        <td class="col-md-1">
            <input type="text" disabled value="{{$light.ID}}" class="form-control" />
        </td>
        <td class="col-md-4">
            <input type="text" disabled value="{{$light.Name}}" class="form-control" />
        </td>
        <td class="col-md-4">
            <input type="text" disabled value="{{$light.URL}}" class="form-control" />
        </td>
        <td class="col-md-3">
            <a href="/settings/edit/{{$light.ID}}" class="btn btn-primary">
                <span>Edit</span>
            </a>
            <a href="/settings/delete/{{$light.ID}}" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove-sign" /><span> Delete</span>
            </a>
        </td>
    </tr>

    {{end}}
</table>

<form method="POST" class="col-md-6">
    <input type="hidden" value="4" name="ID" />
    <table class="table">
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                <label>Url</label>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Name" class="form-control" />
            </td>
            <td>
                <input type="text" name="URL" class="form-control" />
            </td>
            <td>
                <button type="submit" class="btn btn-primary" >Add</button>
            </td>
        </tr>
    </table>
</form>