<h1>See here all the ligths</h1>

<form method="POST">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th></th>
        </tr>
        {{range $light := .config.Lights}}
        
        <tr>
            <td>
                <input type="text" name="Lights.Name" value="{{$light.Name}}" class="form-control" />
            </td>
            <td>
                <input type="text" name="Lights.URL" value="{{$light.URL}}" class="form-control" />
            </td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-sign" /><span> Delete</span>
                </button>
            </td>
        </tr>

        {{end}}
    </table>
    <button type="submit" class="btn btn-primary" >Save</button>
</form>